{% extends 'notes/base.html' %}

{% block title %}Study Notes - Home{% endblock %}

{% block content %}
    <h1>Subjects</h1>
    <ul>
        {% for subject in subjects %}
            <li>
                <form action="{% url 'notes:subject_detail' subject.id %}" method="get" style="display:inline;">
                    <button type="submit">{{ subject.name }}</button>
                </form>
                <a href="{% url 'notes:create_note' subject.id %}">Add Note</a>
                {% if subject.subsubjects.all %}
                    <ul>
                        {% for sub in subject.subsubjects.all %}
                            <li>
                                <form action="{% url 'notes:subject_detail' sub.id %}" method="get" style="display:inline;">
                                    <button type="submit">{{ sub.name }}</button>
                                </form>
                                <a href="{% url 'notes:create_note' sub.id %}">Add Note</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if subject.notes.all %}
                    <ul>
                        {% for note in subject.notes.all %}
                            <li>{{ note.title }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    
{% endblock %}
