<!DOCTYPE html>
<html>
<head>
    <title>Study Notes - Home</title>
</head>
<body>
    <h1>Subjects</h1>
    <ul>
        {% for subject in subjects %}
            <li>
                <strong>{{ subject.name }}</strong>
                <a href="{% url 'notes:create_note' subject.id %}">Add Note</a>
                {% if subject.subsubjects.all %}
                    <ul>
                        {% for sub in subject.subsubjects.all %}
                            <li>
                                {{ sub.name }}
                                <a href="{% url 'notes:create_note' sub.id %}">Add Note</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if subject.notes.all %}
                    <ul>
                        {% for note in subject.notes.all %}
                            <li>{{ note.title }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LACbVhgtx9I?si=tvp9T474b_O-ZfLz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
</html>
